In [60]:
from lxml import html
import requests
import pandas as pd
import numpy as np
import re

In [105]:
def cleanhtml(raw_html):
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', raw_html).strip('\\n')
    return cleantext

In [106]:
cities = pd.read_csv('cities.csv')
cities.head()

       city   country
0  A Coruña     Spain
1    Aachen   Germany
2   Aalborg   Denmark
3    Aarhus   Denmark
4       Aba   Nigeria

In [ ]:
wikitravel = pd.DataFrame(columns=['city','summary','do','see','eat'])

for i, city in enumerate(cities['city']):
    print(i," - city: ",city.replace(" ","_"),end="\r")
    try:
        page = requests.get('https://wikitravel.org/en/'+str(city.replace(" ","_")))
    except:
        city = city+"- unable to fetch"
    try:
        summary = cleanhtml(str(page.content).split('<div id="moved_title">')[1].split('<h2')[0])
    except:
        summary = 'error'
    try:
        do = cleanhtml(str(page.content).split('[</span><a href="#Do')[1].split('<h2')[0])
    except:
        do = 'error'
    try:
        see = cleanhtml(str(page.content).split('[</span><a href="#See')[1].split('<h2')[0])
    except:
        see = 'error'
    try:
        eat = cleanhtml(str(page.content).split('[</span><a href="#Eat')[1].split('<h2')[0])
    except:
        eat = 'error'
    #wikitravel.append(pd.DataFrame({'city':city, 'summary':summary,'do':do, 'see':see, 'eat':eat}))
    wikitravel = wikitravel.append(pd.DataFrame([[city,summary,do,see,eat]],columns=['city','summary','do','see','eat']),ignore_index=True)

In [100]:
wikitravel.head()

,city,summary,do,see,eat
0,A Coruña,\nA Coru\xc3\xb1a (Spanish: La Coru\xc3\xb1a) ...,""" title=""click to add a do listing"" onclick=""a...",""" title=""click to add a see listing"" onclick=""...",""" title=""click to add a eat listing"" onclick=""..."
1,Aachen,\nAachen [11] is a city in North Rhine-Westpha...,""" title=""click to add a do listing"" onclick=""a...",""" title=""click to add a see listing"" onclick=""...",""" title=""click to add a eat listing"" onclick=""..."
2,Aalborg,"\nAalborg [16] [17] is in North Jutland, Denma...",""" title=""click to add a do listing"" onclick=""a...",""" title=""click to add a see listing"" onclick=""...",""" title=""click to add a eat listing"" onclick=""..."
3,Aarhus,"\n\nAarhus, (pronounced: Oar-Hoos, previously ...",""" title=""click to add a do listing"" onclick=""a...",""" title=""click to add a see listing"" onclick=""...",""" title=""click to add a eat listing"" onclick=""..."
4,Aba,error,error,error,error

In [104]:
wikitravel['see'][0]

'" title="click to add a see listing" onclick="addListing(this, \\\'3\\\', \\\'see\\\', \\\'A_Coru\\xc3\\xb1a\\\');">add listing]\\nIn the Cidade Vella, you can find (among others):\\n\\nCastelo de San Ant\\xc3\\xb3n. This Castle holds an interesting Archaeological museum. It used to be located in an island.\\nChurch of Santiago. Located in the Old Town, the church is originally medieval, but has seen major changes.\\nColexiata de Santa Mar\\xc3\\xada. Now hosting the Museum of Sacred Art\\nMuseo Militar. The Military Museum holds collections of weapons, uniforms, maps and so on.\\nMuseo Emilia Pardo Baz\\xc3\\xa1n. A museum dedicated to one great Spanish writer of the XIX century. The building also houses the Galician Language Academy\\nXard\\xc3\\xadn de San Carlos. A beautiful and romantic garden. Often used for wedding photoshoots, and where the remain of Sir John Moore (a British General that fought in the Elvi\\xc3\\xb1a battle during the Napoleonic wars) lie.\\nSome other sights:\\n\\nTorre de H\\xc3\\xa9rcules&#8212;Roman lighthouse. Apparently, this is the oldest lighthouse in the world that is still in use. \\nCastro de Elvi\\xc3\\xb1a&#8212;Castros are Roman or pre-Roman settlements. This particular castro has been neglected for a long time, and is undergoing major archaeological work. Many findings are on display on the Castelo de San Ant\\xc3\\xb3n.\\nThe port\\nCasa de las Ciencias&#8212;Science Museum\\nDomus&#8212;Another science museum, dealing with the human body.\\nAquarium Finisterrae&#8212;An aquarium, very close to the Domus.\\nPicasso\\\'s home which you cannot visit; there is simply a small plaque to identify it. \\nMar\\xc3\\xada Pita\\xc2\\xb4s square, with the Council Building\\nFine Arts Museum\\n'

In [ ]:
wikitravel.to_csv('wikitravel.csv', sep=',')