In [1]:
# This tells matplotlib not to try opening a new window for each plot.
%matplotlib inline

# General libraries.
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json
import os

# SK-learn libraries for learning.
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.grid_search import GridSearchCV
from sklearn.preprocessing import label_binarize


# SK-learn libraries for evaluation.
from sklearn.metrics import confusion_matrix
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import linear_kernel
from nltk.corpus import words
from nltk.corpus import brown
import pickle
import boto3

# SK-learn libraries for feature extraction from text.
from sklearn.feature_extraction.text import *

# Set execution role
client = boto3.client('s3') #low-level functional API
resource = boto3.resource('s3') #high-level object-oriented API
my_bucket = resource.Bucket('sagemaker-nomadiq-data') #subsitute this for your s3 bucket name.

/Users/geneahn/anaconda/lib/python3.6/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/geneahn/anaconda/lib/python3.6/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

# Get instagram scrape data

In [2]:
my_bucket.download_file('instagram_df_2.csv','instagram_df_2.csv')
my_bucket.download_file('wikitravel.csv','wikitravel.csv')

In [3]:
# This data contains location id and location name mappings scraped from instagram
insta_df = pd.read_csv('instagram_df_2.csv')

In [4]:
insta_df.head()

,caption,location_id,location_name,timestamp,user_name,hashtags,month
0,Atlanta has been an awesome Super Bowl host ci...,1.014864e+09,Mercedes-Benz Stadium,1.549236e+09,LeeAbbamonte,[],2.0
1,Flying to Atlanta for Super Bowl LIII and exci...,3.073630e+14,Flying To Atlanta,1.549045e+09,LeeAbbamonte,[],2.0
2,The big battle of east coast vs west coast is ...,2.140073e+08,"Marina del Rey, California",1.548950e+09,LeeAbbamonte,"['premiumrewards', 'preferredrewards', 'ad']",1.0
3,Dawn over Marina del Rey welcomes another beau...,2.140073e+08,"Marina del Rey, California",1.548688e+09,LeeAbbamonte,[],1.0
4,The Sydney Opera House is without question one...,2.112249e+06,Sydney Opera House,1.548345e+09,LeeAbbamonte,[],1.0

In [162]:
len(insta_df)

177034

# Get Wikitravel scrape data

In [163]:
wiki_df = pd.read_csv('wikitravel.csv',sep = '\t', index_col= False)
# Remove entries with "errors"
wiki_df = wiki_df[(wiki_df['summary'] != 'error')|(wiki_df['do'] != 'error')|
                  (wiki_df['see'] != 'error')|(wiki_df['eat'] != 'error')]

# Map Locations to Location_IDs
Instagram IDs are often at the city + state + country level and the wiki travel data is at just the city level. We need to normalizes these to map to eachother.

In [164]:
# First we zip the location_names and location_id from the instagram data
zipped_locations = list(zip(insta_df.location_name,insta_df.location_id))

In [165]:
# Get first 5 rows of zipped data from instagram_data
zipped_locations[:5]

[('Mercedes-Benz Stadium', 1014864419.0),
 ('Flying To Atlanta', 307362966524981.0),
 ('Marina del Rey, California', 214007272.0),
 ('Marina del Rey, California', 214007272.0),
 ('Sydney Opera House', 2112249.0)]

In [166]:
# We condense the large instagram scrape data by grouping to only unique combinations of location_name and location_id
insta_df2 = insta_df.groupby(['location_name','location_id']).size().reset_index().rename(columns={0:'count'})
zipped_locations = list(zip(insta_df2.location_name,insta_df2.location_id))

In [167]:
# Get first 5 rows of zipped data from instagram_data
zipped_locations[:5]

[('"Greetings From Austin" Postcard Mural', 223569558.0),
 ('"Insel Der Jugend"-Treptower Park', 129113.0),
 ('"Los Angeles - City Of Dreams"', 252555922.0),
 ('"Rum Point" Grand Cayman', 213765965.0),
 ('...le Mura di Ferrara...', 463586100.0)]

In [168]:
# Compile list of cities from wiki scrape data
city_list = list(wiki_df.city)

In [169]:
# Get first 5 rows of city list
city_list[:5]

['A Coruña', 'Aachen', 'Aalborg', 'Aarhus', 'Abadan']

In [551]:
city_dict

{'Aachen': 13820180,
 'Aalborg': 215334386,
 'Aarhus': 215007529,
 'Aberdeen': 237795431,
 'Abu Dhabi': 328670654,
 'Acapulco': 3203457,
 'Accra': 216345646,
 'Addis Ababa': 497821515,
 'Adelaide': 318910,
 'Aden': 219516312,
 'Adoni': 215836718,
 'Adıyaman': 247080249,
 'Agra': 490352302,
 'Aguascalientes': 216234886,
 'Ahmedabad': 707577838,
 'Aix-en-Provence': 215175464,
 'Ajmer': 893502067513238,
 'Aksaray': 75862753,
 'Alajuela': 254369336,
 'Alanya': 582497147,
 'Alappuzha': 260558268,
 'Albuquerque': 1028661414,
 'Alexandria': 3224114,
 'Algiers': 219370504,
 'Alicante': 304569408,
 'Almaty': 541318335,
 'Amarillo': 222409773,
 'Ambon': 1147781268644283,
 'Amersfoort': 26394654,
 'Amman': 880303,
 'Amritsar': 559836093,
 'Amsterdam': 11742,
 'Anaco': 254709242,
 'Anaheim': 215556247,
 'Anand': 280428744,
 'Anchorage': 24589076,
 'Anda': 213563319,
 'Andong': 577010232,
 'Andria': 3224114,
 'Angeles City': 213303696,
 'Angers': 943564351,
 'Ankara': 236300643,
 'Annaba': 1009144844,
 'Ansan': 213554003,
 'Anshun': 265518377,
 'Antalya': 234854005,
 'Antananarivo': 595498431,
 'Antsirabe': 15405624,
 'Antwerp': 294768023,
 'Aomori': 253839147,
 'Aqaba': 37910010,
 'Arak': 272458086,
 'Arequipa': 1918055,
 'Arica': 133838473969202,
 'Armenia': 413839096,
 'Arusha': 270577395,
 'Ashdod': 215021641,
 'Asmara': 263754577,
 'Astana': 213709399,
 'Astrakhan': 795300385,
 'Asunción': 217510908,
 'Aswan': 241892308,
 'Athens': 42302656,
 'Atlanta': 139544,
 'Auckland': 27696,
 'Augsburg': 217618004,
 'Austin': 223569558,
 'Awasa': 237472218,
 'Ayacucho': 611899363,
 'Bahir Dar': 59177948,
 'Baku': 2574503,
 'Bamako': 240033979,
 'Banda': 216278847,
 'Bandung': 163635496,
 'Bangalore': 57706473,
 'Bangkok': 1085047161612691,
 'Bangui': 362715285,
 'Banja Luka': 213611878,
 'Barcelona': 28475,
 'Bari': 217395054,
 'Bariloche': 213562750,
 'Barrie': 242773419,
 'Basel': 222426763,
 'Batman': 261604135,
 'Battambang': 41085595,
 'Batu': 273392165,
 'Batumi': 221194332,
 'Beihai': 237641230,
 'Beijing': 213502500,
 'Beira': 23659,
 'Beirut': 495639355,
 'Belfast': 320007257,
 'Belgrade': 870906703,
 'Bellevue': 4624230,
 'Belo Horizonte': 213255513,
 'Belém': 598951807,
 'Bergamo': 214249380,
 'Bergen': 264281066,
 'Berlin': 369291823,
 'Bern': 284788769,
 'Bilbao': 9750512,
 'Billings': 219271657,
 'Bishkek': 221029755,
 'Blackpool': 214986509,
 'Blantyre': 222261517,
 'Bo': 6713838,
 'Bogor': 228316513,
 'Bogota': 215009947,
 'Boise': 28861898,
 'Bologna': 587111515,
 'Bolu': 352835,
 'Bolzano': 222534103,
 'Bonn': 107481562,
 'Bordeaux': 213097372,
 'Borujerd': 240575949,
 'Boston': 725938363,
 'Boulder': 512797854,
 'Braga': 1024155638,
 'Bratislava': 215847487,
 'Brașov': 263863276,
 'Bremen': 741605018,
 'Brescia': 747567751,
 'Bridgeport': 289543743,
 'Brisbane': 2855652,
 'Bristol': 213267431,
 'Bruges': 254212973,
 'Brussels': 284238730,
 'Bucharest': 613779835,
 'Budapest': 513315410,
 'Buenaventura': 185344,
 'Buenos Aires': 523831465,
 'Buffalo': 1165768,
 'Bukhara': 237577130,
 'Burbank': 214895019,
 'Burgas': 747699875,
 'Bursa': 269049152,
 'Busan': 1587844424600377,
 'Cagliari': 213626209,
 'Cairns': 282889198,
 'Cairo': 213013624,
 'Calama': 3881053,
 'Calgary': 475691881,
 'Cali': 215452980,
 'Campeche': 258402334,
 'Canberra': 598511751,
 'Cancún': 1337837646328317,
 'Cape Town': 278366912,
 'Caracas': 758392441,
 'Cardiff': 219323,
 'Cartagena de Indias': 246661797,
 'Cartago': 218745129,
 'Casablanca': 387267789,
 'Catania': 206139196084670,
 'Cebu City': 10318563,
 'Changsha': 214167535,
 'Changshu': 216518237,
 'Charlotte': 3001448,
 'Chattanooga': 215307317,
 'Chengdu': 282022512,
 'Chennai': 1020009673,
 'Chester': 6607,
 'Chiang Mai': 7143938,
 'Chiayi': 726798692,
 'Chiba': 747156090,
 'Chicago': 266931660,
 'Chihuahua': 219713052,
 'Chita': 897470296,
 'Chongqing': 276555359112107,
 'Christchurch': 433779560,
 'Chuncheon': 280527972,
 'Churu': 313037918,
 'Cienfuegos': 234325844,
 'Clearwater': 213835210,
 'Cleveland': 325758,
 'Cluj-Napoca': 5451732,
 'Coimbra': 213278840,
 'Cologne': 273099649,
 'Colombo': 6875546,
 'Colorado Springs': 850956489,
 'Constantine': 227898596,
 'Copenhagen': 7538318,
 'Cork': 256267683,
 'Corona': 215305400,
 'Corpus Christi': 431172,
 'Crawley': 223721289,
 'Cusco': 237009453,
 'Cádiz': 217422989,
 'Da Lat': 237842968,
 'Da Nang': 737378323,
 'Dali': 375424505860510,
 'Dallas': 270518870,
 'Damascus': 218154807,
 'Darjeeling': 234887724,
 'Darwin': 261211447,
 'Datong': 213771034,
 'Dayton': 277889793,
 'Debrecen': 55389054,
 'Dehradun': 1016765823,
 'Delft': 215336329,
 'Delhi': 271011716,
 'Denpasar': 260554342,
 'Denton': 221228210,
 'Denver': 213921599,
 'Derby': 842035185838752,
 'Derry': 252274142,
 'Detroit': 1021668112,
 'Dhaka': 217567072,
 'Dijon': 975097221,
 'Dili': 272040599999699,
 'Dire Dawa': 1570747629855723,
 'Djibouti': 238743255,
 'Dodoma': 273325739,
 'Doha': 213090522,
 'Dordrecht': 500641531,
 'Douala': 241199708,
 'Dresden': 214326583,
 'Dubai': 213913319,
 'Dublin': 254454,
 'Dumaguete': 1564747,
 'Dunedin': 214855543,
 'Dunhuang': 315358474,
 'Durban': 494205949,
 'Durg': 243150527,
 'Dushanbe': 245615810,
 'Düsseldorf': 214512512,
 'East Jerusalem': 223270156,
 'Edinburgh': 480007,
 'Edmonton': 544939,
 'Eindhoven': 222130485,
 'El Jadida': 214937150,
 'El Monte': 26930,
 'El Paso': 215521,
 'Elizabeth': 15463,
 'Emmen': 4645093,
 'Ensenada': 214858852,
 'Enshi': 1834689800130813,
 'Enugu': 234483875,
 'Erbil': 222366120,
 'Erfurt': 218257751,
 'Erie': 251898708,
 'Erode': 218029877,
 'Escondido': 2343119,
 'Esfahan': 213992789,
 'Essen': 260308,
 'Fergana': 222768551,
 'Ferrara': 463586100,
 'Fes': 1015887013,
 'Fianarantsoa': 27020099,
 'Florence': 939258743,
 'Florianópolis': 213145014,
 'Foggia': 236242849,
 'Fontana': 241273031,
 'Fort Lauderdale': 300203554,
 'Fort Wayne': 214424725,
 'Fort Worth': 3000420,
 'Fortaleza': 283779839,
 'Foz do Iguaçu': 219249734,
 'Frankfurt am Main': 303771139,
 'Freetown': 575331388,
 'Fremont': 1064464,
 'Fuji': 435368737,
 'Fujinomiya': 224683301,
 'Fukui': 269726171,
 'Fukushima': 1019679312,
 'Fullerton': 174670556799865,
 'Funchal': 214934637,
 'Gangneung': 223123193,
 'Gatineau': 281804742,
 'Gaya': 23696111,
 'Gaziantep': 574349945,
 'Geelong': 244097,
 'Geneva': 1221636,
 'Genova': 504542175,
 'Ghent': 237927098,
 'Gifu': 237633726,
 'Gilbert': 249448339,
 'Giza': 238939625,
 'Glasgow': 2188383,
 'Gold Coast': 443509883,
 'Goma': 303627009,
 'Gondar': 290876593,
 'Gothenburg': 218676665,
 'Grand Rapids': 1017227821,
 'Graz': 219214183,
 'Grenoble': 213155302,
 'Gresham': 831642,
 'Guadalajara': 12504039,
 'Guadalupe': 215401268,
 'Guanajuato': 215580726,
 'Guangzhou': 219735417,
 'Guarulhos': 1019552217,
 'Guatemala City': 215186000,
 'Guilin': 28042012,
 'Guiyang': 265614723,
 'Gujranwala': 286279964,
 'Gunsan': 235221897,
 'Gurgaon': 402252561,
 'Guri': 236559795,
 'Guwahati': 781695822011529,
 "Ha'il": 217413004,
 'Haarlem': 214499540,
 'Hagen': 249867265,
 'Haifa': 241974815,
 'Hakodate': 1884679558483629,
 'Halle': 262728333,
 'Hama': 145849377,
 'Hamburg': 1021305092,
 'Hamm': 351821575,
 'Hangzhou': 320906339,
 'Hanoi': 676813455,
 'Hanover': 931916045,
 'Harar': 258655086,
 'Harare': 229323512,
 'Hassan': 235007210,
 'Havana': 3389010,
 'Hebron': 236064279,
 'Hechi': 250615176,
 'Heidelberg': 1999995,
 'Helsingborg': 213107329,
 'Helsinki': 736780008,
 'Henderson': 215260329,
 'Heraklion': 125986354790972,
 'Herat': 1024508075,
 'Hikone': 226301941,
 'Himeji': 10076446,
 'Hirakata': 237873878,
 'Hiroshima': 500278729,
 'Hisar': 5869416,
 'Ho Chi Minh City': 251237615,
 'Hobart': 241002554,
 'Homs': 788506245,
 'Hong Kong': 214424288,
 'Honolulu': 489801922,
 'Houma': 365263,
 'Houston': 288101926,
 'Hpa-An': 295734495,
 'Huaraz': 247736734,
 'Huddersfield': 351148207,
 'Huntington Beach': 2968002,
 'Ibarra': 347982187,
 'Ica': 1015887013,
 'Iksan': 272473715,
 'Iloilo City': 234816733,
 'Incheon': 302722885,
 'Indianapolis': 237286933,
 'Innsbruck': 215159147,
 'Iquitos': 417187192,
 'Iriga': 1005293374,
 'Irkutsk': 520369485,
 'Irvine': 214216864,
 'Ise': 279516537,
 'Islamabad': 219790614,
 'Itu': 148606,
 'Iwakuni': 236646988,
 'Jacksonville': 3948577,
 'Jaipur': 124643380,
 'Jakarta': 901480153,
 'Jammu': 384639834,
 'Jeddah': 10410823,
 'Jeju': 831074332,
 'Jena': 962859437,
 'Jeongeup': 272078641,
 'Jeonju': 245713997,
 'Jersey City': 349895316,
 'Jerusalem': 1733807616889632,
 'Jiayuguan': 343146265,
 'Jodhpur': 216556566,
 'Johannesburg': 246468470,
 'Jos': 248917735,
 'Juba': 396795860,
 'Jyväskylä': 217014039,
 'Kabul': 825861,
 'Kaesong': 343250814,
 'Kairouan': 238710814,
 'Kamakura': 221676689,
 'Kampala': 218535295,
 'Kanazawa': 152495035151585,
 'Kandy': 6742973,
 'Kano': 6779710,
 'Kaohsiung': 219062257,
 'Karachi': 224526487,
 'Kashan': 4046840,
 'Kassel': 229157703,
 'Kathmandu': 260760345,
 'Kawagoe': 216289572,
 'Kawaguchi': 238457461,
 'Kayseri': 213689453,
 'Kazan': 1103508793065420,
 'Keelung': 291378605,
 'Kelowna': 214490950,
 'Kerman': 521349804,
 'Kherson': 226563830,
 'Kiel': 228492505,
 'Kigali': 217016513,
 'Kirov': 217758803,
 'Kisumu': 254991622,
 'Kitami': 645140304,
 'Klang': 215085620,
 'Knoxville': 1658980,
 'Kobe': 430762689,
 'Koblenz': 2091444,
 'Kochi': 772586599,
 'Koga': 11696590,
 'Kolkata': 259446355,
 'Kollam': 1385791574836394,
 'Konya': 389496176,
 'Kota': 301629747,
 'Kota Kinabalu': 271410855,
 'Kraków': 213832057,
 'Kuala Lumpur': 607036219,
 'Kuala Terengganu': 213631867,
 'Kuching': 238513682,
 'Kumamoto': 214819015,
 'Kumasi': 224032976,
 'Kunming': 216518237,
 'Kuopio': 213042790,
 'Kurashiki': 238056270,
 'Kure': 1025205322,
 'Kuwait City': 24619808,
 'Kyiv': 212898659,
 'Kyoto': 1021867762,
 'La Paz': 539921886,
 'La Romana': 460881223,
 'La Serena': 228345216,
 'La Vega': 355214544,
 'Lagos': 1017473669,
 'Lahore': 1956205944655093,
 'Lanzhou': 358908010,
 'Larnaca': 251881371,
 'Las Vegas': 101735518,
 'Latina': 6598373,
 'Lausanne': 286086169,
 'Leeds': 341003,
 'Legazpi City': 509924910,
 'Leicester': 359376967,
 'Leiden': 216491617,
 'Leipzig': 1279512,
 'Leshan': 216278196,
 'Lhasa': 252921840,
 'Libreville': 249809942,
 'Lille': 1350811,
 'Lilongwe': 220545368,
 'Lima': 638986,
 'Limassol': 236278051,
 'Lincoln': 870517851,
 'Linz': 618791641,
 'Lisbon': 1019758750,
 'Little Rock': 267719194,
 'Liverpool': 215451478,
 'Livingstone': 213023252,
 'Liège': 213099780,
 'Ljubljana': 213102647,
 'Logroño': 1640521,
 'Loja': 263789846,
 'Lomé': 236740569,
 'London': 1021114651,
 'Long Beach': 1260399,
 'Los Angeles': 214060412,
 'Louisville': 214648098,
 'Luanda': 217011494,
 'Lucknow': 675651788,
 'Luxembourg': 222039768,
 'Luxor': 615325087,
 'Lyon': 269049152,
 'Lübeck': 40055710,
 'Macau': 8018619,
 'Madison': 185138,
 'Madrid': 252052804,
 'Madurai': 234901034,
 'Magelang': 317998102,
 'Mahajanga': 649013182,
 'Mainz': 214469548,
 'Makassar': 35166672,
 'Makati': 4826944,
 'Malabo': 530010080,
 'Malang': 37819391,
 'Malappuram': 253516540,
 'Malindi': 228301148,
 'Malmö': 213321652,
 'Man': 213765965,
 'Manado': 236148403,
 'Managua': 297999599,
 'Manama': 214544461,
 'Manaus': 213998268,
 'Manchester': 247140,
 'Mandalay': 47332085,
 'Manila': 289756278,
 'Manta': 1011734812,
 'Manzanillo': 240400070,
 'Maputo': 301927391,
 'Maracaibo': 346329087,
 'Marbella': 213079945,
 'Marrakech': 213252870,
 'Marseille': 73363193,
 'Masaya': 226014666,
 'Maseru': 266846958,
 'Mashhad': 220592830,
 'Matanzas': 512640964,
 'Mathura': 251416196,
 'Matsumoto': 219663786,
 'Matsuyama': 227405453,
 'Mazatlán': 225489564,
 'Mbour': 976496430,
 'Mecca': 690420489,
 'Medan': 7115912,
 'Medellín': 213236545,
 'Medina': 357701165,
 'Melbourne': 786709350,
 'Memphis, Tennessee': 215262999,
 'Mendoza': 705967826,
 'Messina': 213122326,
 'Metz': 136027,
 'Mexico City': 11717462,
 'Miami': 478085136,
 'Milan': 213064351,
 'Minoh': 246830845,
 'Minsk': 240630492,
 'Miri': 285433299,
 'Mito': 218567158,
 'Miyazaki': 361485254,
 'Moca': 308532,
 'Modena': 32329,
 'Moga': 263750504,
 'Mombasa': 213616116,
 'Montego Bay': 213675534,
 'Montevideo': 214397193,
 'Montpellier': 213110517,
 'Montreal': 217129379,
 'Monza': 213849,
 'Moscow': 1576703875961804,
 'Mostar': 219895639,
 'Mumbai': 4713984,
 'Munich': 251081067,
 'Muscat': 240661727,
 'Málaga': 215351224,
 'Münster': 213846587,
 "N'Djamena": 292873810,
 'Nador': 464305381,
 'Naga': 998695114,
 'Nagano': 234291859,
 'Nagasaki': 361075566,
 'Nagaur': 316942251,
 'Nagpur': 234730336,
 'Naha': 263504641,
 'Nairobi': 1543472532599283,
 'Nakhon Pathom': 223873095,
 'Nakhon Sawan': 246651091,
 'Nakhon Si Thammarat': 237714116,
 'Nakuru': 213060796,
 'Namur': 617680428,
 'Nanjing': 46439693,
 'Nantes': 214246727,
 'Naples': 236559045,
 'Nara': 235371011,
 'Narita': 112338317,
 'Nashville': 226113440,
 'Nassau': 6779710,
 'Natal': 386938565,
 'Ndola': 504643320,
 'Negombo': 236233367,
 'New Delhi': 498870164,
 'New Haven': 236531275,
 'New Orleans': 567533,
 'New York': 234647016,
 'Newcastle upon Tyne': 213240048,
 'Nha Trang': 213735962,
 'Nice': 670856002,
 'Nicosia': 1030172668,
 'Niigata': 446495521,
 'Niterói': 213369624,
 'Nizwa': 226605683,
 'Nottingham': 214437216,
 'Nouakchott': 247436174,
 'Novi Sad': 213718229,
 'Nuremberg': 17568473,
 'Oakland': 1458,
 'Oaxaca de Juárez': 4151139,
 'Odense': 502145796,
 'Okayama': 238056270,
 'Okinawa': 238738671,
 'Olinda': 225509340,
 'Olomouc': 227721771,
 'Omaha': 86478759,
 'Ontario': 595490887,
 'Opole': 241285009,
 'Oran': 2045773,
 'Ordu': 338766741,
 'Orlando': 3356673,
 'Orléans': 216633121,
 'Oruro': 578519032,
 'Osaka': 413563067,
 'Osh': 265542502,
 'Osijek': 213191011,
 'Oslo': 216610843,
 'Osorno': 255702259,
 'Otaru': 657198976,
 'Ottawa': 437961822,
 'Oulu': 39824632,
 'Oxford': 274512246,
 'Oyama': 1855656714459326,
 'Padang': 215641966,
 'Palakkad': 243114424,
 'Palermo': 702261655,
 'Pali': 1533168083463820,
 'Palma de Mallorca': 15166261,
 'Palu': 257567973,
 'Pamplona': 942690,
 'Panama City': 241639176,
 'Panjin': 991053651040125,
 'Paramaribo': 221635980,
 'Paris': 214525177,
 'Parma': 254871088,
 'Pasay': 7081344,
 'Pasto': 236968851,
 'Patan': 225786948,
 'Perm': 140826,
 'Perth': 1010758274,
 'Perugia': 2330228,
 'Peshawar': 214424750,
 'Philadelphia, Pennsylvania': 214228753,
 'Phnom Penh': 214960573,
 'Phoenix, Arizona': 211529586,
 'Pinsk': 18583299,
 'Piraeus': 1009106813,
 'Pisco': 546051902,
 'Playa del Carmen': 236063172,
 'Plzeň': 234451475,
 'Pokhara': 217328969,
 'Pondicherry': 5388187,
 'Poole': 302234015,
 'Port Louis': 221960713,
 'Port-au-Prince': 219575197,
 'Porto': 1003048,
 'Portsmouth': 3394343,
 'Potosí': 229957593,
 'Potsdam': 213759886,
 'Poznań': 469504360,
 'Prague': 11198451,
 'Praia': 386245690,
 'Prato': 310285907,
 'Preston': 236588773365957,
 'Puducherry': 220003132,
 'Puerto Plata': 1019985641,
 'Puerto Princesa City': 241901986,
 'Puerto Vallarta': 748119220,
 'Puno': 261117549,
 'Punta Arenas': 214448476,
 'Puri': 219962990,
 'Pyongyang': 246148050,
 'Qom': 222818506,
 'Quebec City': 411432295992131,
 'Quetzaltenango': 255175192,
 'Quezon City': 213651270,
 'Quito': 217774824,
 'Rabat': 222840553,
 'Rasht': 313011956,
 'Ravenna': 239747941,
 'Rawalpindi': 234849000,
 'Recife': 224772345,
 'Regensburg': 2572841,
 'Reggio Emilia': 1026714321,
 'Regina': 77601,
 'Reims': 1162621,
 'Rennes': 1020421264,
 'Reno': 213049286,
 'Resistencia': 934959,
 'Reykjavík': 157480748202807,
 'Richmond': 221711591,
 'Riga': 348084610,
 'Rijeka': 222001474,
 'Rimini': 215111460,
 'Rio Grande': 938849396,
 'Rio de Janeiro': 405027146,
 'Riverside': 681062125,
 'Riyadh': 213008247,
 'Rize': 227896962,
 'Rochester, New York': 217288063,
 'Rome': 3002176,
 'Rosario': 254293884,
 'Rotterdam': 350086850,
 'Rouen': 220618463,
 'Ruse': 286256901,
 'Saanich': 235729316,
 'Sabadell': 1602994,
 'Sacramento, California': 212931804,
 'Saga': 223654599,
 'Sagar': 252742232,
 'Saint Petersburg': 214568397,
 'Saint-Louis': 229648,
 'Saitama': 216289572,
 'Salalah': 768874872,
 'Salamanca': 9772,
 'Salerno': 518873446,
 'Salta': 579811380,
 'Salto': 253295841,
 'Salvador': 527110,
 'Salzburg': 236410353,
 'Samara': 1034440342,
 'Samarkand': 235590854,
 'Samsun': 221078361717917,
 'San Francisco, California': 11680763,
 'San Juan': 234951931,
 'San Martin': 258730332,
 'San Salvador': 596951920,
 'Sandakan': 214825409,
 'Sano': 219566974,
 'Santa Lucía': 214539347,
 'Santa Marta': 216045481,
 'Santander': 285265272,
 'Santo Domingo': 322879970,
 'Santos': 259348206,
 'Sapporo': 235447538,
 'Sarajevo': 269764126,
 'Sari': 1755770188045715,
 'Seattle': 216912146,
 'Semarang': 217510365,
 'Sendai': 579940741,
 'Seoul': 255541173,
 'Seto': 227745645,
 'Seville': 3587949,
 'Shanghai': 235829332,
 'Shenzhen': 219782906,
 'Sherbrooke': 67788,
 'Shimizu': 256103071,
 'Shimla': 220406813,
 'Shiraz': 1018927401,
 'Shiyan': 421251797,
 'Shizuoka': 224683301,
 'Shkodër': 805372804,
 'Sibiu': 214435596,
 'Sibu': 405470952,
 'Singapore': 274029466,
 'Skopje': 442708076,
 'Sofia': 214497461,
 'Sohar': 237014870,
 'Soledad': 314363,
 'Soweto': 521113195,
 'Split': 133165,
 'Srinagar': 244861271,
 "St. John's": 2355928,
 'Stavanger': 4894690,
 'Stavropol': 616811055,
 'Stockholm': 993553950,
 'Strasbourg': 259062946,
 'Stuttgart': 285884909,
 'Sucre': 2337256,
 'Sur': 25566339,
 'Surat': 215583018,
 'Surat Thani': 215583018,
 'Surrey': 228506529,
 'Sydney': 212957184,
 'Szczecin': 235610911,
 'São Paulo': 213163910,
 'São Vicente': 235031643,
 'Tabriz': 276587589,
 'Taichung': 219992931,
 'Taipei': 1032965415,
 'Takamatsu': 7597584,
 'Tallinn': 224706987,
 'Tama': 442742273,
 'Tampere': 213856496,
 'Tanga': 1021664497,
 'Tangier': 218729485,
 'Tanta': 1024936402,
 'Tarragona': 1735419393388566,
 'Tashkent': 231385413,
 'Tauranga': 217861693,
 'Taza': 215526061,
 'Tbilisi': 241867277,
 'Tegal': 513154772,
 'Tehran': 213755156,
 'Tel Aviv': 216428232,
 'Telford': 30875785,
 'Terni': 302356566842025,
 'Thane': 383264218,
 'The Hague': 214262158,
 'Thessaloniki': 493485460,
 'Thimphu': 269636251,
 'Thiruvananthapuram': 216814158,
 'Thornton': 6034165,
 'Thrissur': 249986724,
 'Tianjin': 359223759,
 'Tijuana': 567496535,
 'Tirana': 215730538,
 'Tiruvannamalai': 387395575,
 'Toamasina': 574770511,
 'Tochigi': 359077554,
 'Tokushima': 541053442,
 'Tokyo': 240013714,
 'Toliara': 274773100,
 'Toluca': 240406064,
 'Toronto': 213375805,
 'Tours': 4650877,
 'Townsville': 783101726,
 'Toyama': 434784879,
 'Trento': 217942785,
 'Trier': 494706291,
 'Trieste': 235414960,
 'Tripoli': 219033509,
 'Trondheim': 215338487,
 'Tsu': 242773419,
 'Tsuyama': 227405453,
 'Tula': 11007,
 'Tunis': 246650155,
 'Turin': 295636041,
 'Turku': 235117573,
 'Ube': 245110640,
 'Ubon Ratchathani': 217024568,
 'Udaipur': 216467157,
 'Ueda': 213686168,
 'Ufa': 220575188,
 'Uji': 515722463,
 'Ulaanbaatar': 312961421,
 'Ulm': 215793998,
 'Uppsala': 214345918,
 'Urmia': 234881281,
 'Utrecht': 215090458,
 'Valencia': 719614,
 'Valledupar': 344838240,
 'Valparaíso': 214881134,
 'Van': 246438267,
 'Vancouver, British Columbia': 213819997,
 'Varanasi': 161238,
 'Varna': 166521497051,
 'Vaughan': 3832491,
 'Venice': 217254162,
 'Verona': 238927349,
 'Vicenza': 214914621,
 'Vienna': 215720225,
 'Vientiane': 6769075,
 'Vigo': 323126414,
 'Vilnius': 1001824772,
 'Virginia Beach': 644108702,
 'Vitória': 16341967,
 'Volos': 218037366,
 'Wakayama': 264367459,
 'Warsaw': 213328502,
 'Wellington': 1469044,
 'West Covina': 216545026,
 'Westminster': 224652648,
 'Whitby': 257795814600679,
 'Wichita': 92357257,
 'Wichita Falls': 11671370,
 'Wiesbaden': 220257967,
 'Willemstad': 218088662,
 'Windhoek': 224268061,
 'Winnipeg': 569793003,
 'Wollongong': 1034466595,
 'Wrocław': 214344976,
 'Würzburg': 234433366,
 "Xi'an": 7492571,
 'Xiamen': 359084183,
 'Yamagata': 222585463,
 'Yangon': 79616907,
 'Yaroslavl': 551627464,
 'Yazd': 237249026,
 'Yerevan': 127549975,
 'Yogyakarta': 443212096,
 'Yokohama': 246935746,

In [170]:
# Create dictionary of city names and location ID using city list from wiki_travel and location ID mappings from instagram data.
# Output is a key value pair of city name and location id
city_dict = {}

# Loop through all cities in the wikitravel list of cities
for city in city_list:
    # Inner loop through all location_name/location_id mappings
    for location in zipped_locations:
        # If there is an exactly city match pull write the key/value
        # Else continue
        if city.lower() == location[0].lower():
            city_dict[city] = int(location[1])
            break
        else:
            continue
    # If no exact matches are found, we try soft matches where find the city name within the longer string in location_name
    try:
        city_dict[city]
    except:
        for location in zipped_locations:
            if city.lower() in location[0].lower():
                city_dict[city]= int(location[1])
                break
        else:
            continue

In [172]:
# Get city name into dataframe 
def city_map(loc_id):
    for key, value in city_dict.items():
        try:
            if int(loc_id) == value:
                return key
            else:
                continue
        except:
            break


insta_df['city_name'] = insta_df['location_id'].apply(city_map)

In [173]:
insta_df_cities = insta_df[insta_df['city_name'].notnull()]

In [174]:
insta_df_cities.head()

,caption,location_id,location_name,timestamp,user_name,hashtags,month,city_name
59,"The enormous, carved out Leshan Giant Buddha i...",216278196.0,Leshan Giant Buddha,1.542119e+09,LeeAbbamonte,[],11.0,Leshan
66,Somewhere in the world places like this do exi...,213616116.0,"Diani Beach, Mombasa, Kenya",1.541338e+09,LeeAbbamonte,[],11.0,Mombasa
67,Extra points if you can spot me as I completel...,213616116.0,"Diani Beach, Mombasa, Kenya",1.541209e+09,LeeAbbamonte,[],11.0,Mombasa
68,"Back in Diani Beach, Kenya, one of my all time...",213616116.0,"Diani Beach, Mombasa, Kenya",1.541159e+09,LeeAbbamonte,[],11.0,Mombasa
80,"Al Balad, the old city of Jeddah, Saudi Arabia...",10410823.0,"Jeddah, Saudi Arabia",1.539784e+09,LeeAbbamonte,[],10.0,Jeddah

In [175]:
len(insta_df_cities)

2526

In [176]:
# Create dataframe with user_name, city_name, and whether or not the user visited
insta_df_condensed = insta_df_cities[['user_name','city_name']]
insta_df_condensed = insta_df_condensed.drop_duplicates()
insta_df_condensed['visited'] = 1

In [178]:
insta_df_condensed.head()

        user_name city_name  visited
59   LeeAbbamonte    Leshan        1
66   LeeAbbamonte   Mombasa        1
80   LeeAbbamonte    Jeddah        1
86   LeeAbbamonte    Riyadh        1
131  LeeAbbamonte    Astana        1

In [329]:
insta_df_condensed['city_name'].value_counts()

Hong Kong                      34
Singapore                      30
Marrakech                      26
Vancouver, British Columbia    19
Osaka                          14
Helsinki                       13
Magelang                        8
Jodhpur                         8
Awasa                           8
Mostar                          7
Valencia                        7
Philadelphia, Pennsylvania      7
Valparaíso                      7
Yangon                          6
Beijing                         6
Jena                            6
Bariloche                       5
Rio de Janeiro                  5
Phnom Penh                      5
Las Vegas                       5
Ruse                            5
Dresden                         5
Kandy                           5
Esfahan                         5
Yogyakarta                      5
Zhangjiajie                     5
Nuremberg                       5
Palma de Mallorca               5
Tehran                          5
Dunedin                         4
                               ..
Logroño                         1
Kumasi                          1
Gunsan                          1
Chita                           1
Takamatsu                       1
Naha                            1
Toronto                         1
Palakkad                        1
Bo                              1
Liège                           1
Masaya                          1
Whitby                          1
Volos                           1
Nakuru                          1
Van                             1
Tbilisi                         1
Edmonton                        1
Varanasi                        1
Adıyaman                        1
Düsseldorf                      1
Fortaleza                       1
Gaya                            1
Cairns                          1
Wellington                      1
Ansan                           1
Durg                            1
Buenaventura                    1
Portsmouth                      1
Boston                          1
Toliara                         1
Name: city_name, Length: 862, dtype: int64

# Creating a sparse matrix for cosine similiarity calculations
We create an n x m matrix where n are all cities and m are all instagram users. We us this to determine pairwise cosine similarity between all cities based on the user-vector.

In [503]:
from scipy.sparse import csr_matrix

# Reshape matrix as an m x n array where m is city names and n is the users
# Values represent whether or not the individual has visited
df_travel_features = insta_df_condensed.pivot(
    index='city_name',
    columns='user_name',
    values='visited'
).fillna(0)

# Convert to sparse matrix
sparse_travel_features = csr_matrix(df_travel_features.values)

In [505]:
df_travel_features.head()

user_name,2straws,AlexStrohl,Anna.Everywhere,Bemytravelmuse,BrendanVanSon,Chelseakauai,Chloe_T,Danielkordan,DrewBinsky,Eljackson,...,theblondeabroad,thejetsetterdiaries,theplanetd,theupbeatpath,theworldpursuit,tiffpenguin,travelbabbo,uncornered_market,vancitywild,worldwanderlust
city_name,,,,,,,,,,,,,,,,,,,,,
Aachen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Aalborg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aarhus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aberdeen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Abu Dhabi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Executing User-Based Collaborative Filtering
With the first approach, we create an n x m matrix where n is the instagram user and m is the city name. We then calculate the similarity between users to eachother. We then predict whether a given user would like to visit a location based on this similarity.

In [5]:
df_travel_features_user = insta_df_condensed.pivot(
    index='user_name',
    columns='city_name',
    values='visited'
).fillna(0)

NameError: name 'insta_df_condensed' is not defined

In [497]:
df_travel_features_user.head()

city_name,Aachen,Aalborg,Aarhus,Aberdeen,Abu Dhabi,Acapulco,Accra,Addis Ababa,Adelaide,Aden,...,Zhangjiajie,Zhangye,Zhuhai,Zipaquirá,Zonguldak,Zürich,Çanakkale,İstanbul,İzmir,Şanlıurfa
user_name,,,,,,,,,,,,,,,,,,,,,
2straws,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
AlexStrohl,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Anna.Everywhere,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Bemytravelmuse,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BrendanVanSon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [601]:
# Create vector of user visits
user_visits = ['Osaka']
user_vector = []

for location in df_travel_features.index:
    if location in user_visits:
        user_vector.append(1)
    else:
        user_vector.append(0)
        
cosine_sim_user = linear_kernel(user_vector, df_travel_features_user)

indices_user = sorted(range(len(cosine_sim_user[0])), key=lambda i: cosine_sim_user[0][i], reverse=True)[:2]
k = 1/sum(sorted((cosine_sim_user[0]), reverse=True)[:2])

ratings_user = []

for index in range(len(df_travel_features)):
    ratings2_user = []
    for index2 in range(len(indices_user)):
#         print(cosine_sim[0][indices[index2]])
        ratings2.append(cosine_sim_user[0][indices_user[index2]] * df_travel_features_user.iloc[indices_user[index2]][index])
    ratings_user.append(sum(ratings2_user)*k)

user_results = [df_travel_features.index[index] for index in sorted(range(len(ratings_user)), key=lambda i: ratings_user[i], reverse=True) if df_travel_features.index[index] not in user_visits]
user_results[:10]

/Users/geneahn/anaconda/lib/python3.6/site-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

['Aachen',
 'Aalborg',
 'Aarhus',
 'Aberdeen',
 'Abu Dhabi',
 'Acapulco',
 'Accra',
 'Addis Ababa',
 'Adelaide',
 'Aden']

# Executing Item-Based Collaborative Filtering
This follows multiple steps:
- Calculating the pairwise similarity between all items.
- Predict locations that the new user may want to go to
- Return top n locations that they have not visited yet

In [562]:
# Get frequency counts of most popular cities
popular_cities = list(insta_df_condensed['city_name'].value_counts().index)[:10]

In [544]:
df_travel_features_sum = df_travel_features.sum(axis=1)

In [545]:
# Get pairwise similarity between all items and create item-item cosine similarity matrix
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim = cosine_similarity(df_travel_features)

In [555]:
# Create vector of user visits
user_visits = ['Tokyo']
user_vector = []

for location in df_travel_features.index:
    if location in user_visits:
        user_vector.append(1)
    else:
        user_vector.append(0)
        
user_rating = []

for index in range(len(cosine_sim)):
    # If the user has not visited the location
    # Rating(user, san francisco) = similarity(san francisco, tokyo)*rating(user, tokyo) + sim(san francisco, New York) * rating(user, new york)/
    # (similarity(san francisco, tokyo) + similarity(san francisco, new york) + sim(san francisco, london)
    numerator = []
    denominator = []
    if user_vector[index] == 0:
        for index2 in range(len(cosine_sim[index])):
            numerator.append(cosine_sim[index][index2] * user_vector[index2])
            denominator.append(cosine_sim[index][index2])
        user_rating.append(sum(numerator)/sum(denominator))

    else:
        user_rating.append(0)

indices = sorted(range(len(user_rating)), key=lambda i: user_rating[i], reverse=True)[:10]
for index in indices:
    print(df_travel_features.index[index])
    
sorted(user_rating,reverse=True)

Melbourne
Olinda
Jena
Guanajuato
Aachen
Aalborg
Aarhus
Aberdeen
Abu Dhabi
Acapulco

[0.24299239861190464,
 0.24299239861190464,
 0.026303205910118026,
 0.01699757593704191,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0]

In [594]:
# Pickle similarity score data, indices, wiki_df, tfidf_vectorizer, x_tfidf
with open('collab_filter_artifacts.pickle', 'wb') as f:
    pickle.dump([df_travel_features,cosine_sim,city_dict,popular_cities]) 
my_bucket.upload_file('collab_filter_artifacts.pickle','collab_filter_artifacts.pickle')

In [602]:
def get_recommendations_city(places_visited):
    '''Enter a list of cities and get recommendations back'''
    places_visited = [place.title() for place in places_visited]
    print(places_visited)
    user_vector = []
    for location in df_travel_features.index:
        if location in places_visited:
            user_vector.append(1)
        else:
            user_vector.append(0)
    
    # Append travel predictions to a list
    user_rating = []
    # Loop through each location in the cosine sim matrix
    for index in range(len(cosine_sim)):
        numerator = []
        denominator = []
        # If the user has not visited the location
        if user_vector[index] == 0:
            # Loop through pairwise similarities of the given locations
            for index2 in range(len(cosine_sim[index])):
                # Pairwise similarity times whether the user has visited the location
                numerator.append(cosine_sim[index][index2] * user_vector[index2])
                denominator.append(cosine_sim[index][index2])
            user_rating.append(sum(numerator)/sum(denominator))

        else:
            user_rating.append(0)
    # Get indices of top 10 ranked cities
    indices = sorted(range(len(user_rating)), key=lambda i: user_rating[i], reverse=True)[:10]
    print(indices)
    ratings_list = sorted(user_rating,reverse=True) 
    recommendations = []
    for index in range(len(indices)):
        if ratings_list[index] > 0:
            recommendations.append(df_travel_features.index[indices[index]])
        else:
            print(popular_cities[:10-index])
            recommendations = recommendations + popular_cities[:10-index]
            break
    city_recs = []
    loop_count = 0
    for city in recommendations:
        city_recs.append({"location_id": city_dict[city], "location_name": city, "cosine_similarity": ratings_list[loop_count]})
        loop_count += 1
    
    return city_recs

get_recommendations_city(['London'])

['London']
[91, 99, 225, 235, 253, 316, 413, 440, 463, 480]

[{'cosine_similarity': 0.028687099218015363,
  'location_id': 870906703,
  'location_name': 'Belgrade'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 9750512,
  'location_name': 'Bilbao'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 480007,
  'location_name': 'Edinburgh'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 234483875,
  'location_name': 'Enugu'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 3000420,
  'location_name': 'Fort Worth'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 1999995,
  'location_name': 'Heidelberg'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 238056270,
  'location_name': 'Kurashiki'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 236278051,
  'location_name': 'Limassol'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 252052804,
  'location_name': 'Madrid'},
 {'cosine_similarity': 0.028687099218015363,
  'location_id': 247140,
  'location_name': 'Manchester'}]

# Miscellaneous

In [ ]:
# Rating(user, san francisco) = similarity(san francisco, tokyo) + sim(san francisco, New York)/
# (similarity(san francisco, tokyo) + similarity(san francisco, new york) + sim(san francisco, london)

In [85]:
from sklearn.neighbors import NearestNeighbors
model_knn = NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)
model_knn.fit(sparse_travel_features)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=20, p=2, radius=1.0)

In [59]:
query_index = np.random.choice(df_travel_features.shape[0])
query_index

689

In [107]:
df_travel_features.head()

user_name,2straws,AlexStrohl,Anna.Everywhere,Bemytravelmuse,BrendanVanSon,Chelseakauai,Chloe_T,Danielkordan,DrewBinsky,Eljackson,...,theblondeabroad,thejetsetterdiaries,theplanetd,theupbeatpath,theworldpursuit,tiffpenguin,travelbabbo,uncornered_market,vancitywild,worldwanderlust
city_name,,,,,,,,,,,,,,,,,,,,,
Aachen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
Aalborg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aarhus,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Aberdeen,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Abu Dhabi,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [367]:
# query_index = np.random.choice(df_travel_features.shape[0])
query_index = 573

distances, indices = model_knn.kneighbors(df_travel_features.iloc[query_index].reshape(1, -1), n_neighbors = 800)

for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(df_travel_features.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, df_travel_features.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Okinawa:

1: Matsuyama, with distance of 0.0:
2: Jos, with distance of 0.0:
3: Minoh, with distance of 0.0:
4: Jiayuguan, with distance of 0.0:
5: Astrakhan, with distance of 0.0:
6: Chongqing, with distance of 0.0:
7: Baku, with distance of 0.0:
8: Sarajevo, with distance of 0.0:
9: Moscow, with distance of 0.0:
10: Nagasaki, with distance of 0.0:
11: Cartago, with distance of 0.0:
12: Nakhon Si Thammarat, with distance of 0.0:
13: Busan, with distance of 0.0:
14: Okinawa, with distance of 0.0:
15: Hakodate, with distance of 0.0:
16: Datong, with distance of 0.0:
17: Manzanillo, with distance of 0.0:
18: Tabriz, with distance of 0.0:
19: Kumamoto, with distance of 0.0:
20: Lanzhou, with distance of 0.0:
21: Kuching, with distance of 0.0:
22: Yokohama, with distance of 0.0:
23: Kota Kinabalu, with distance of 0.0:
24: Konya, with distance of 0.0:
25: Zhangye, with distance of 0.29289321881345254:
26: Hikone, with distance of 0.29289321881345254:
27: Anshun, with distance of 0.29289321881345254:
28: Varna, with distance of 0.29289321881345254:
29: Nakhon Pathom, with distance of 0.29289321881345254:
30: Novi Sad, with distance of 0.29289321881345254:
31: Gondar, with distance of 0.29289321881345254:
32: Kamakura, with distance of 0.42264973081037416:
33: Leshan, with distance of 0.42264973081037416:
34: Dunhuang, with distance of 0.42264973081037416:
35: Matsumoto, with distance of 0.42264973081037416:
36: Pokhara, with distance of 0.5:
37: Esfahan, with distance of 0.5527864045000421:
38: Tehran, with distance of 0.5527864045000421:
39: Mostar, with distance of 0.6220355269907728:
40: Beihai, with distance of 1.0:
41: Banja Luka, with distance of 1.0:
42: Bergen, with distance of 1.0:
43: Berlin, with distance of 1.0:
44: Bangui, with distance of 1.0:
45: Bern, with distance of 1.0:
46: Chattanooga, with distance of 1.0:
47: Charlotte, with distance of 1.0:
48: Bilbao, with distance of 1.0:
49: Bishkek, with distance of 1.0:
50: Blackpool, with distance of 1.0:
51: Blantyre, with distance of 1.0:
52: Bo, with distance of 1.0:
53: Bogor, with distance of 1.0:
54: Bogota, with distance of 1.0:
55: Billings, with distance of 1.0:
56: Batumi, with distance of 1.0:
57: Barcelona, with distance of 1.0:
58: Bergamo, with distance of 1.0:
59: Beijing, with distance of 1.0:
60: Batu, with distance of 1.0:
61: Battambang, with distance of 1.0:
62: Beira, with distance of 1.0:
63: Beirut, with distance of 1.0:
64: Batman, with distance of 1.0:
65: Changshu, with distance of 1.0:
66: Basel, with distance of 1.0:
67: Belgrade, with distance of 1.0:
68: Bellevue, with distance of 1.0:
69: Bariloche, with distance of 1.0:
70: Belo Horizonte, with distance of 1.0:
71: Belém, with distance of 1.0:
72: Bari, with distance of 1.0:
73: Barrie, with distance of 1.0:
74: Belfast, with distance of 1.0:
75: Cape Town, with distance of 1.0:
76: Bologna, with distance of 1.0:
77: Budapest, with distance of 1.0:
78: Buenaventura, with distance of 1.0:
79: Buenos Aires, with distance of 1.0:
80: Buffalo, with distance of 1.0:
81: Bukhara, with distance of 1.0:
82: Burbank, with distance of 1.0:
83: Burgas, with distance of 1.0:
84: Bursa, with distance of 1.0:
85: Cagliari, with distance of 1.0:
86: Cairns, with distance of 1.0:
87: Cartagena de Indias, with distance of 1.0:
88: Cairo, with distance of 1.0:
89: Calama, with distance of 1.0:
90: Calgary, with distance of 1.0:
91: Cardiff, with distance of 1.0:
92: Cali, with distance of 1.0:
93: Campeche, with distance of 1.0:
94: Canberra, with distance of 1.0:
95: Cancún, with distance of 1.0:
96: Bucharest, with distance of 1.0:
97: Boise, with distance of 1.0:
98: Brussels, with distance of 1.0:
99: Bristol, with distance of 1.0:
100: Bolu, with distance of 1.0:
101: Changsha, with distance of 1.0:
102: Caracas, with distance of 1.0:
103: Bolzano, with distance of 1.0:
104: Bonn, with distance of 1.0:
105: Bordeaux, with distance of 1.0:
106: Cebu City, with distance of 1.0:
107: Borujerd, with distance of 1.0:
108: Boston, with distance of 1.0:
109: Boulder, with distance of 1.0:
110: Braga, with distance of 1.0:
111: Bangkok, with distance of 1.0:
112: Brașov, with distance of 1.0:
113: Catania, with distance of 1.0:
114: Casablanca, with distance of 1.0:
115: Bremen, with distance of 1.0:
116: Brescia, with distance of 1.0:
117: Bridgeport, with distance of 1.0:
118: Brisbane, with distance of 1.0:
119: Bruges, with distance of 1.0:
120: Bratislava, with distance of 1.0:
121: Athens, with distance of 1.0:
122: Bandung, with distance of 1.0:
123: Aberdeen, with distance of 1.0:
124: Abu Dhabi, with distance of 1.0:
125: Acapulco, with distance of 1.0:
126: Accra, with distance of 1.0:
127: Addis Ababa, with distance of 1.0:
128: Adelaide, with distance of 1.0:
129: Aden, with distance of 1.0:
130: Adoni, with distance of 1.0:
131: Adıyaman, with distance of 1.0:
132: Agra, with distance of 1.0:
133: Aguascalientes, with distance of 1.0:
134: Ahmedabad, with distance of 1.0:
135: Aix-en-Provence, with distance of 1.0:
136: Ajmer, with distance of 1.0:
137: Aksaray, with distance of 1.0:
138: Alajuela, with distance of 1.0:
139: Alanya, with distance of 1.0:
140: Alappuzha, with distance of 1.0:
141: Albuquerque, with distance of 1.0:
142: Aarhus, with distance of 1.0:
143: Dumaguete, with distance of 1.0:
144: Dublin, with distance of 1.0:
145: Linz, with distance of 1.0:
146: Madison, with distance of 1.0:
147: Macau, with distance of 1.0:
148: Lübeck, with distance of 1.0:
149: Luxor, with distance of 1.0:
150: Luxembourg, with distance of 1.0:
151: Lucknow, with distance of 1.0:
152: Luanda, with distance of 1.0:
153: Louisville, with distance of 1.0:
154: Los Angeles, with distance of 1.0:
155: Alexandria, with distance of 1.0:
156: Long Beach, with distance of 1.0:
157: Lomé, with distance of 1.0:
158: Loja, with distance of 1.0:
159: Logroño, with distance of 1.0:
160: Ljubljana, with distance of 1.0:
161: Liège, with distance of 1.0:
162: Livingstone, with distance of 1.0:
163: Liverpool, with distance of 1.0:
164: Little Rock, with distance of 1.0:
165: Aachen, with distance of 1.0:
166: London, with distance of 1.0:
167: Bangalore, with distance of 1.0:
168: Algiers, with distance of 1.0:
169: Almaty, with distance of 1.0:
170: Arequipa, with distance of 1.0:
171: Arica, with distance of 1.0:
172: Armenia, with distance of 1.0:
173: Arusha, with distance of 1.0:
174: Ashdod, with distance of 1.0:
175: Asmara, with distance of 1.0:
176: Astana, with distance of 1.0:
177: Asunción, with distance of 1.0:
178: Aswan, with distance of 1.0:
179: Chengdu, with distance of 1.0:
180: Atlanta, with distance of 1.0:
181: Auckland, with distance of 1.0:
182: Augsburg, with distance of 1.0:
183: Austin, with distance of 1.0:
184: Awasa, with distance of 1.0:
185: Ayacucho, with distance of 1.0:
186: Bahir Dar, with distance of 1.0:
187: Bamako, with distance of 1.0:
188: Banda, with distance of 1.0:
189: Arak, with distance of 1.0:
190: Aqaba, with distance of 1.0:
191: Aomori, with distance of 1.0:
192: Antwerp, with distance of 1.0:
193: Amarillo, with distance of 1.0:
194: Ambon, with distance of 1.0:
195: Amersfoort, with distance of 1.0:
196: Amman, with distance of 1.0:
197: Amritsar, with distance of 1.0:
198: Amsterdam, with distance of 1.0:
199: Anaco, with distance of 1.0:
200: Anaheim, with distance of 1.0:
201: Anand, with distance of 1.0:
202: Alicante, with distance of 1.0:
203: Anchorage, with distance of 1.0:
204: Andong, with distance of 1.0:
205: Angeles City, with distance of 1.0:
206: Angers, with distance of 1.0:
207: Ankara, with distance of 1.0:
208: Annaba, with distance of 1.0:
209: Ansan, with distance of 1.0:
210: Antalya, with distance of 1.0:
211: Antananarivo, with distance of 1.0:
212: Antsirabe, with distance of 1.0:
213: Anda, with distance of 1.0:
214: Chennai, with distance of 1.0:
215: Chita, with distance of 1.0:
216: Chiang Mai, with distance of 1.0:
217: Jena, with distance of 1.0:
218: Jeju, with distance of 1.0:
219: Jeddah, with distance of 1.0:
220: Jammu, with distance of 1.0:
221: Jakarta, with distance of 1.0:
222: Jaipur, with distance of 1.0:
223: Jacksonville, with distance of 1.0:
224: Iwakuni, with distance of 1.0:
225: Itu, with distance of 1.0:
226: Islamabad, with distance of 1.0:
227: Ise, with distance of 1.0:
228: Irvine, with distance of 1.0:
229: Irkutsk, with distance of 1.0:
230: Iriga, with distance of 1.0:
231: Iquitos, with distance of 1.0:
232: Innsbruck, with distance of 1.0:
233: Indianapolis, with distance of 1.0:
234: Incheon, with distance of 1.0:
235: Iloilo City, with distance of 1.0:
236: Iksan, with distance of 1.0:
237: Ibarra, with distance of 1.0:
238: Jeongeup, with distance of 1.0:
239: Huntington Beach, with distance of 1.0:
240: Jeonju, with distance of 1.0:
241: Jerusalem, with distance of 1.0:
242: Keelung, with distance of 1.0:
243: Kazan, with distance of 1.0:
244: Kayseri, with distance of 1.0:
245: Kawaguchi, with distance of 1.0:
246: Kawagoe, with distance of 1.0:
247: Kathmandu, with distance of 1.0:
248: Kassel, with distance of 1.0:
249: Kashan, with distance of 1.0:
250: Karachi, with distance of 1.0:
251: Kaohsiung, with distance of 1.0:
252: Kano, with distance of 1.0:
253: Kandy, with distance of 1.0:
254: Kanazawa, with distance of 1.0:
255: Kampala, with distance of 1.0:
256: Kairouan, with distance of 1.0:
257: Kaesong, with distance of 1.0:
258: Kabul, with distance of 1.0:
259: Jyväskylä, with distance of 1.0:
260: Juba, with distance of 1.0:
261: Johannesburg, with distance of 1.0:
262: Jodhpur, with distance of 1.0:
263: Jersey City, with distance of 1.0:
264: Huddersfield, with distance of 1.0:
265: Huaraz, with distance of 1.0:
266: Hpa-An, with distance of 1.0:
267: Fort Lauderdale, with distance of 1.0:
268: Fontana, with distance of 1.0:
269: Foggia, with distance of 1.0:
270: Florianópolis, with distance of 1.0:
271: Florence, with distance of 1.0:
272: Fianarantsoa, with distance of 1.0:
273: Geneva, with distance of 1.0:
274: El Paso, with distance of 1.0:
275: Elizabeth, with distance of 1.0:
276: Durban, with distance of 1.0:
277: Durg, with distance of 1.0:
278: Dushanbe, with distance of 1.0:
279: Düsseldorf, with distance of 1.0:
280: East Jerusalem, with distance of 1.0:
281: Edinburgh, with distance of 1.0:
282: Edmonton, with distance of 1.0:
283: Eindhoven, with distance of 1.0:
284: El Jadida, with distance of 1.0:
285: El Monte, with distance of 1.0:
286: Ghent, with distance of 1.0:
287: Escondido, with distance of 1.0:
288: Fort Wayne, with distance of 1.0:
289: Fort Worth, with distance of 1.0:
290: Fortaleza, with distance of 1.0:
291: Foz do Iguaçu, with distance of 1.0:
292: Houston, with distance of 1.0:
293: Houma, with distance of 1.0:
294: Honolulu, with distance of 1.0:
295: Hong Kong, with distance of 1.0:
296: Homs, with distance of 1.0:
297: Hobart, with distance of 1.0:
298: Limassol, with distance of 1.0:
299: Fes, with distance of 1.0:
300: Ferrara, with distance of 1.0:
301: Gaziantep, with distance of 1.0:
302: Kelowna, with distance of 1.0:
303: Gaya, with distance of 1.0:
304: Gangneung, with distance of 1.0:
305: Funchal, with distance of 1.0:
306: Fullerton, with distance of 1.0:
307: Fukushima, with distance of 1.0:
308: Fukui, with distance of 1.0:
309: Fujinomiya, with distance of 1.0:
310: Fuji, with distance of 1.0:
311: Fremont, with distance of 1.0:
312: Freetown, with distance of 1.0:
313: Frankfurt am Main, with distance of 1.0:
314: Gatineau, with distance of 1.0:
315: Kerman, with distance of 1.0:
316: Kherson, with distance of 1.0:
317: Kiel, with distance of 1.0:
318: Dali, with distance of 1.0:
319: Dallas, with distance of 1.0:
320: Damascus, with distance of 1.0:
321: Darjeeling, with distance of 1.0:
322: Darwin, with distance of 1.0:
323: Dayton, with distance of 1.0:
324: Debrecen, with distance of 1.0:
325: Dehradun, with distance of 1.0:
326: Delft, with distance of 1.0:
327: Delhi, with distance of 1.0:
328: Denpasar, with distance of 1.0:
329: Denton, with distance of 1.0:
330: Denver, with distance of 1.0:
331: Derby, with distance of 1.0:
332: Derry, with distance of 1.0:
333: Detroit, with distance of 1.0:
334: Dhaka, with distance of 1.0:
335: Dijon, with distance of 1.0:
336: Dili, with distance of 1.0:
337: Dire Dawa, with distance of 1.0:
338: Djibouti, with distance of 1.0:
339: Da Nang, with distance of 1.0:
340: Da Lat, with distance of 1.0:
341: Cádiz, with distance of 1.0:
342: Cusco, with distance of 1.0:
343: Chiayi, with distance of 1.0:
344: Chiba, with distance of 1.0:
345: Chicago, with distance of 1.0:
346: Chihuahua, with distance of 1.0:
347: Madrid, with distance of 1.0:
348: Christchurch, with distance of 1.0:
349: Chuncheon, with distance of 1.0:
350: Churu, with distance of 1.0:
351: Cienfuegos, with distance of 1.0:
352: Clearwater, with distance of 1.0:
353: Dodoma, with distance of 1.0:
354: Cleveland, with distance of 1.0:
355: Coimbra, with distance of 1.0:
356: Cologne, with distance of 1.0:
357: Colombo, with distance of 1.0:
358: Colorado Springs, with distance of 1.0:
359: Constantine, with distance of 1.0:
360: Copenhagen, with distance of 1.0:
361: Cork, with distance of 1.0:
362: Corona, with distance of 1.0:
363: Corpus Christi, with distance of 1.0:
364: Crawley, with distance of 1.0:
365: Cluj-Napoca, with distance of 1.0:
366: Chester, with distance of 1.0:
367: Doha, with distance of 1.0:
368: Douala, with distance of 1.0:
369: Kyiv, with distance of 1.0:
370: Kuwait City, with distance of 1.0:
371: Kure, with distance of 1.0:
372: Kurashiki, with distance of 1.0:
373: Kuopio, with distance of 1.0:
374: Kumasi, with distance of 1.0:
375: Kuala Terengganu, with distance of 1.0:
376: Kuala Lumpur, with distance of 1.0:
377: Kraków, with distance of 1.0:
378: Kota, with distance of 1.0:
379: Kollam, with distance of 1.0:
380: Kolkata, with distance of 1.0:
381: Koga, with distance of 1.0:
382: Koblenz, with distance of 1.0:
383: Kobe, with distance of 1.0:
384: Knoxville, with distance of 1.0:
385: Klang, with distance of 1.0:
386: Kitami, with distance of 1.0:
387: Kisumu, with distance of 1.0:
388: Kirov, with distance of 1.0:
389: Kigali, with distance of 1.0:
390: Kyoto, with distance of 1.0:
391: La Paz, with distance of 1.0:
392: La Romana, with distance of 1.0:
393: La Serena, with distance of 1.0:
394: Dresden, with distance of 1.0:
395: Dubai, with distance of 1.0:
396: Lincoln, with distance of 1.0:
397: Ho Chi Minh City, with distance of 1.0:
398: Hisar, with distance of 1.0:
399: Lima, with distance of 1.0:
400: Lilongwe, with distance of 1.0:
401: Lille, with distance of 1.0:
402: Libreville, with distance of 1.0:
403: Lhasa, with distance of 1.0:
404: Dordrecht, with distance of 1.0:
405: Leipzig, with distance of 1.0:
406: Leicester, with distance of 1.0:
407: Aalborg, with distance of 1.0:
408: Leeds, with distance of 1.0:
409: Lausanne, with distance of 1.0:
410: Latina, with distance of 1.0:
411: Las Vegas, with distance of 1.0:
412: Larnaca, with distance of 1.0:
413: Lahore, with distance of 1.0:
414: Lagos, with distance of 1.0:
415: La Vega, with distance of 1.0:
416: Leiden, with distance of 1.0:
417: Madurai, with distance of 1.0:
418: Lisbon, with distance of 1.0:
419: Mahajanga, with distance of 1.0:
420: Stuttgart, with distance of 1.0:
421: Strasbourg, with distance of 1.0:
422: Stockholm, with distance of 1.0:
423: Stavropol, with distance of 1.0:
424: Stavanger, with distance of 1.0:
425: St. John's, with distance of 1.0:
426: Srinagar, with distance of 1.0:
427: Split, with distance of 1.0:
428: Soweto, with distance of 1.0:
429: Soledad, with distance of 1.0:
430: Sohar, with distance of 1.0:
431: Sofia, with distance of 1.0:
432: Skopje, with distance of 1.0:
433: Singapore, with distance of 1.0:
434: Sibu, with distance of 1.0:
435: Sibiu, with distance of 1.0:
436: Shkodër, with distance of 1.0:
437: Shiyan, with distance of 1.0:
438: Shiraz, with distance of 1.0:
439: Sucre, with distance of 1.0:
440: Sur, with distance of 1.0:
441: Surat Thani, with distance of 1.0:
442: Surrey, with distance of 1.0:
443: Tel Aviv, with distance of 1.0:
444: Tegal, with distance of 1.0:
445: Tbilisi, with distance of 1.0:
446: Taza, with distance of 1.0:
447: Tauranga, with distance of 1.0:
448: Tashkent, with distance of 1.0:
449: Tarragona, with distance of 1.0:
450: Tanta, with distance of 1.0:
451: Tangier, with distance of 1.0:
452: Shimla, with distance of 1.0:
453: Tanga, with distance of 1.0:
454: Tama, with distance of 1.0:
455: Tallinn, with distance of 1.0:
456: Takamatsu, with distance of 1.0:
457: Taipei, with distance of 1.0:
458: Taichung, with distance of 1.0:
459: São Vicente, with distance of 1.0:
460: São Paulo, with distance of 1.0:
461: Szczecin, with distance of 1.0:
462: Sydney, with distance of 1.0:
463: Tampere, with distance of 1.0:
464: Shimizu, with distance of 1.0:
465: Sherbrooke, with distance of 1.0:
466: Shenzhen, with distance of 1.0:
467: Salvador, with distance of 1.0:
468: Salto, with distance of 1.0:
469: Salta, with distance of 1.0:
470: Salerno, with distance of 1.0:
471: Salamanca, with distance of 1.0:
472: Salalah, with distance of 1.0:
473: Saint-Louis, with distance of 1.0:
474: Saint Petersburg, with distance of 1.0:
475: Sagar, with distance of 1.0:
476: Salzburg, with distance of 1.0:
477: Saga, with distance of 1.0:
478: Sabadell, with distance of 1.0:
479: Saanich, with distance of 1.0:
480: Ruse, with distance of 1.0:
481: Rouen, with distance of 1.0:
482: Rotterdam, with distance of 1.0:
483: Rosario, with distance of 1.0:
484: Rome, with distance of 1.0:
485: Rochester, New York, with distance of 1.0:
486: Rize, with distance of 1.0:
487: Sacramento, California, with distance of 1.0:
488: Telford, with distance of 1.0:
489: Samara, with distance of 1.0:
490: Samsun, with distance of 1.0:
491: Shanghai, with distance of 1.0:
492: Seville, with distance of 1.0:
493: Seto, with distance of 1.0:
494: Seoul, with distance of 1.0:
495: Sendai, with distance of 1.0:
496: Semarang, with distance of 1.0:
497: Seattle, with distance of 1.0:
498: Sari, with distance of 1.0:
499: Sapporo, with distance of 1.0:
500: Samarkand, with distance of 1.0:
501: Santos, with distance of 1.0:
502: Santander, with distance of 1.0:
503: Santa Marta, with distance of 1.0:
504: Santa Lucía, with distance of 1.0:
505: Sano, with distance of 1.0:
506: Sandakan, with distance of 1.0:
507: San Salvador, with distance of 1.0:
508: San Martin, with distance of 1.0:
509: San Juan, with distance of 1.0:
510: San Francisco, California, with distance of 1.0:
511: Santo Domingo, with distance of 1.0:
512: Terni, with distance of 1.0:
513: Thane, with distance of 1.0:
514: The Hague, with distance of 1.0:
515: Winnipeg, with distance of 1.0:
516: Windhoek, with distance of 1.0:
517: Willemstad, with distance of 1.0:
518: Wiesbaden, with distance of 1.0:
519: Wichita Falls, with distance of 1.0:
520: Wichita, with distance of 1.0:
521: Whitby, with distance of 1.0:
522: Westminster, with distance of 1.0:
523: West Covina, with distance of 1.0:
524: Wollongong, with distance of 1.0:
525: Wellington, with distance of 1.0:
526: Wakayama, with distance of 1.0:
527: Volos, with distance of 1.0:
528: Vitória, with distance of 1.0:
529: Virginia Beach, with distance of 1.0:
530: Vilnius, with distance of 1.0:
531: Vigo, with distance of 1.0:
532: Vientiane, with distance of 1.0:
533: Vienna, with distance of 1.0:
534: Vicenza, with distance of 1.0:
535: Warsaw, with distance of 1.0:
536: Verona, with distance of 1.0:
537: Wrocław, with distance of 1.0:
538: Xi'an, with distance of 1.0:
539: Legazpi City, with distance of 1.0:
540: İzmir, with distance of 1.0:
541: İstanbul, with distance of 1.0:
542: Çanakkale, with distance of 1.0:
543: Zürich, with distance of 1.0:
544: Zonguldak, with distance of 1.0:
545: Zipaquirá, with distance of 1.0:

/Users/geneahn/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  after removing the cwd from sys.path.

In [ ]:
def(city):
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(df_travel_features.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, df_travel_features.index[indices.flatten()[i]], distances.flatten()[i]))